.about-contents {
  background-color: white;
  width: 90%;
  margin: auto;
  padding: 3rem;
  z-index: -11111;
}

.about-contents h2 {
  font-weight: 100;
  font-size: 2.3rem;
  color: #e33b40;
}

.about-contents h1 {
  font-size: 3.5rem;
}

.about-contents h1 span {
  color: #e33b40;
}

.about-contents p {
  width: 30%;
  font-size: 1.2rem;
  font-weight: 100;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e33b40;
  width: 90%;
  height: 600px;
  border-radius: 10px;
  padding: 5rem;
  margin-top: 8rem;
}

.cards .white {
  background-color: white;
  border: 3px solid #e33b40;
}

.cards .card .card-top {
  position: relative;
  bottom: 30%;
  right: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  font-size: 1.2rem;
  text-align: center;
  padding: 50px;
}

.cards .card p {
  text-align: left;
  width: 100%;
  line-height: 1.2;
  font-size: 2rem;
}

/* media Queries */

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .about-contents {
    padding: 1rem;
  }

  .about-contents h2 {
    font-size: 1.5rem;
  }

  .about-contents h1 {
    font-size: 3rem;
  }

  .about-contents p {
    width: 100%;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards .card {
    padding: 1rem;
    margin-top: 5rem;
    height: 300px;
  }

  .cards .card .card-top {
    width: 50px;
    height: 50px;
    font-size: 1rem;
    padding: 2.5rem;
  }

  .cards .card p {
    font-size: 1rem;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
 ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .cards {
    display: none;
  }
}
