.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  background-color: rgba(129, 123, 123, 0.9);
  padding: 15px;
  z-index: 9999;
}

.navbar img {
  padding-left: 50px;
}

.navbar .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  padding-right: 50px;
}

.navbar .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  border: none;
  color: white;
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 1rem;
  padding: 10px;
  width: 90px;
  border-radius: 10px;
}

.navbar .btn:hover {
  background-color: #e33b40;
}

.trial {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.hamburger-menu img {
  filter: invert(100%);
}

/* media Queries */

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  /* .navbar {
    width: 90%;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
    background-color: red;
  }

  .navbar img {
    padding: 0;
    height: 60%;
    width: 60%;
  }

  .navbar .btns {
    display: none;
  }

  .navbar .btn {
    padding: 8px;
    display: block;
    font-size: 12px !important;
  }

  .navbar.show .list {
    border-radius: 10px;
    display: block;
    padding: 0;
    margin: 0;
  } */
  .navbar .list {
    display: none;
  }
  .navbar {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
  
  }
  .navbar img {
    padding: 0;
    height: 60%;
    width: 60%;
  }
  .navbar.show .list {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .link {
    padding: 8px;
    /* display: block; */
    font-size: 12px !important;
  }

 
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
 ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
 
}
